<!DOCTYPE html>
<html>
<head>
  <title>PerformanceTesting</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to "Customers", customers_path %>
<!--a href="localhost:3000/customers">Customer</a>-->

<%= link_to "Sales", sales_path %>
<!--a href="localhost:3000/sales">Sales</a>-->

<%= yield %>

</body>
</html>
